<div class="game-page-styling">
<div class="row game-page">
	
	<div class="row hero"> <!-- game header title -->
		<h1>SHOOT!</h1>
	</div> <!-- END game header title -->
<div class="row game-div" data-equalizer> <!-- game stuff -->

<div class="large-4 medium-4 columns user-game" data-equalizer-watch> <!-- USER div -->
	<h3>your move</h3>
    <div class="white">
<!-- 		<form method="post" action="/move/rock">
			<div><input class="button" type='submit' value='Rock'/></div>
		</form>
		<form method="post" action="/move/paper">
			<div><input class="button" type='submit' value='Paper'/></div>
		</form>
		<form method="post" action="/move/scissors">
			<div><input class="button" type='submit' value='Scissors'/></div>
		</form> -->
        <!-- if user move dne - do this -->
    <% moves=["rock", "paper", "scissors"]%>
    <% moves.each do |m|%>
        <% if @user_move && @user_move != m %>
            <form><button class="button move not-chosen button-no-hover" disabled="disabled"><%= m %></button></form>
        <% elsif @user_move && @user_move == m %>
            <form><button class="button move chosen button-no-hover" disabled="disabled"><%= m %></button></form>
        <% else %>        
            <form action="/game/<%= @params[:username]%>/<%= @params[:game_id]%>/<%= @active_round.round_id%>/<%= m%>" method="post">
    	       <button class="button move"><%= m %></button>
            </form>
        <% end %>
    <% end %>
    </div>

</div> <!-- END of USER div -->
<div class="large-4 medium-4 columns game-history" data-equalizer-watch> <!-- game history div -->
	<h3>rounds</h3>
<div class="row">
<div class="ten centered columns">
<div class="white">
    <table class="table">
        <thead>
            <th>round</th><th><%= @current_game.player1 %></th><th><%= @current_game.player2 %></th><th>winner</th>
        </thead>
        <tbody>
        <% rounds_counter = 1 %>
        <% @game_rounds.each do |round| %>
        <tr>
        <td><%= rounds_counter %></td>
        <td><%= round.p1_move %></td>
        <td><%= round.p2_move %></td>
        <td><%= round.round_winner %></td>
        <% rounds_counter += 1 %>
        <% end %>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>


</div> <!-- END OF game history div -->

<div class="large-4 medium-4 columns opp-game" data-equalizer-watch> <!-- Opponent Div -->
	<h3>opponent move</h3>
    <div class="white">
	<p>waiting</p>
    </div>
</div><!-- end of opponent div -->
</div> <!-- END OF game-div -->
</div>
<footer>
    <form action="/summary" method="get">
        <button class="button return">Return to Summary</button>
    </form>
</footer>
</div>



<!-- gets round info from database -->

<script></script>