
<div class="row game-page">
	
	<div class="row hero"> <!-- game header title -->
		<h1>SHOOT!</h1>
	</div> <!-- END game header title -->
<div class="row game-div" data-equalizer> <!-- game stuff -->

<div class="large-4 medium-4 columns user-game" data-equalizer-watch> <!-- USER div -->
	<h3>Your Move</h3>
<!-- 		<form method="post" action="/move/rock">
			<div><input class="button" type='submit' value='Rock'/></div>
		</form>
		<form method="post" action="/move/paper">
			<div><input class="button" type='submit' value='Paper'/></div>
		</form>
		<form method="post" action="/move/scissors">
			<div><input class="button" type='submit' value='Scissors'/></div>
		</form> -->

    <% moves_array = ["rock", "paper", "scissors"] %>
	<% moves_array.each do |m| %>
    <form action="/game/<%= @params[:username]%>/<%= @params[:game_id]%>/<%= @active_round.round_id%>/<%=m%>" method="post">
    	<button class="button"><%=m%></button>
    </form>
    <%end%>

</div> <!-- END of USER div -->
<div class="large-4 medium-4 columns game-history" data-equalizer-watch> <!-- game history div -->
	<h3>Rounds</h3>
    <table>
        <thead>
            <th>Round</th><th>Your Move</th><th>Opponent Move</th><th>Winner</th>
        </thead>
        <tbody>
        <% rounds_counter = 1 %>
        <% @game_rounds.each do |round| %>
        <td><%= rounds_counter %></td>
        <td><%= round.p1_move %></td>
        <td><%= round.p2_move %></td>
        <td><%= round.round_winner %></td>
        <% rounds_counter += 1 %>
        <% end %>
        </tbody>
    </table>

</div> <!-- END OF game history div -->

<div class="large-4 medium-4 columns opp-game" data-equalizer-watch> <!-- Opponent Div -->
	<h3>Opponent Move</h3>
	<p>Waiting<br>...</p>
</div><!-- end of opponent div -->
</div> <!-- END OF game-div -->
</div>



<!-- gets round info from database -->

