
<% if @current_game.game_winner == @user %>
<div class="row game-over-page won">
<% else %>
<div class="row game-over-page lost">
<% end %>
	
	<div class="row hero"> 
		<h1><%= @current_game.game_winner %> won the game!</h1>
	</div> 
<div class="row"> 
    <div class="large-3 medium-3 columns"><br></div>
    <div class="large-6 medium-6 columns rounds-table">
	<h3>rounds</h3>

    <table>
        <thead>
            <th>round</th><th><%= @game_rounds.first.player1 %></th><th><%= @game_rounds.first.player2 %></th><th>winner</th>
        </thead>
        <tbody>
        <% rounds_counter = 1 %>
        <% @game_rounds.each do |round| %>
        <tr>
        <td><%= rounds_counter %></td>
        <td><%= round.p1_move %></td>
        <td><%= round.p2_move %></td>
        <td><%= round.round_winner %></td>
        <% rounds_counter += 1 %>
        <% end %>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="large-3 medium-3 columns"><br></div>
    </div>
    <div class="row">
        <footer>
            <form action="/summary" method="get">
                <button class="button return">Return to Summary</button>
            </form>
        </footer>    
    </div>
</div>